@import url('https://fonts.googleapis.com/css2?family=Inter+Tight:wght@200;300;400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Space+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap');

:root {
    --text-primary: #ccd6f6;
    --text-secondary: #8892b0;
    --primary-color: #61F9D5;
    --mono-font: "Space Mono", monospace;
}

* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	transition: 0.2s ease;
}

html {
	scroll-behavior: smooth;
}

body {
    font-family: 'Inter Tight', sans-serif;
    background: #0a192f;
    color: var(--text-primary);
}

a {
	text-decoration: none;
    color: inherit;
    cursor: pointer;
}

li {
	list-style: none;
}

button {
    cursor: pointer;
}

.flex {
    display: flex;
}

.clearfix:after {
    content: ".";
    display: block;
    clear: both;
    visibility: hidden;
    line-height: 0;
    height: 0;
}

.container {
    padding-left: min(500px, 20%);
    padding-right: min(500px, 20%);
}

.row {
    padding-top: 100px;
    padding-bottom: 100px;
}

aside {
    width: 80px;
}

aside::after {
    content: "";
    display: block;
    width: 1px;
    height: 90px;
    margin: auto;
    background-color: var(--text-primary);
}

aside ul {
    flex-direction: column;
    align-items: center;
}

aside li {
    margin-bottom: 20px;
}

aside a {
    color: var(--text-primary);
    font-size: 1.4em;
}

aside:first-of-type {
    position: fixed;
    bottom: 0;
    left: 20px;
}

aside:last-of-type {
    position: fixed;
    bottom: 0;
    right: 20px;
    font-size: 0.8em;
}

aside:last-of-type li {
    writing-mode: vertical-lr;
    margin-bottom: 20px;
    font-family: var(--mono-font);
    color: var(--text-secondary);
    font-weight: 200;
    font-size: 0.8em;
    letter-spacing: 0.09em;
}

p {
    color: var(--text-secondary);
    line-height: 1.6em;
}

span {
    color: var(--primary-color);
}

h1 {
    font-size: 3.5vw;
}

h4 {
    font-size: 2.8em;
    margin-bottom: 20px;
}

h5 {
    color: var(--primary-color);
    font-family: var(--mono-font);
    font-weight: 300;
}

.mb-20 {
    margin-bottom: 20px;
}

/* Header */
header {
    padding-left: 60px;
    padding-right: 60px;
    height: 100px;
    justify-content: space-between;
    align-items: center;
}

header ul {
    align-items: center;
}

header > a:hover {
    transform: scale(1.1);
}

.hamburger-menu,
.exit-btn {
    color: var(--primary-color);
    font-size: 2.8em;
    display: none;
    cursor: pointer;
}

.exit-btn {
    position: fixed;
    top: 20px;
    right: 20px;
    z-index: 9999;
}

header nav a {
    margin-left: 40px;
    font-family: var(--mono-font);
    font-size: 0.8em;
}

header nav a:hover {
    color: var(--primary-color);
}

.button {
    border: 1px solid var(--primary-color);
    padding: 10px 20px;
    border-radius: 5px;
    color: var(--primary-color);
    transition: .2s ease;
}

.button:hover {
    transform: translate(-5px, -5px);
    -webkit-box-shadow: 3px 3px 0px 1px rgba(97,249,213,1);
    -moz-box-shadow: 3px 3px 0px 1px rgba(97,249,213,1);
    box-shadow: 3px 3px 0px 1px rgba(97,249,213,1);
}

header img {
    width: 45px;
}

header nav li {
    align-items: center;
}

/* Main*/
main {
    flex-direction: column;
    height: 80vh;
    justify-content: center;
}

main p {
    width: 60%;
    margin-bottom: 35px;
}

main h2 {
    color: var(--text-secondary);
    font-size: 3.5vw;
    margin-bottom: 20px;
}

main h5 {
    margin-bottom: 20px;
}

main .button, 
#contact .button {
    background: none;
    padding: 16px 30px;
}

main button:first-of-type {
    margin-right: 20px;
}

/* About */
#about {
    padding-left: min(600px, 25%);
    padding-right: min(600px, 25%);
}

.about-container {
    gap: 35px;
    flex-wrap: wrap;
    align-items: center;
}

#about img {
    max-width: 100%;
    display: block;
    object-fit: cover;
}

#about h2 {
    flex-basis: 100%;
}

.about-container section:first-of-type {
    flex: 1.3;
}

.about-container section:last-of-type {
    flex: 0.7;
}

#about ul {
    display: grid;
    grid-template-columns: repeat(2, minmax(140px, 200px));
    gap: 20px 0;
    font-family: var(--mono-font);
    color: var(--text-secondary);
}

#about li {
    position: relative;
    padding-left: 20px;
}

#about li::before {
    content: "▹";
    position: absolute;
    left: 0px;
    color: var(--primary-color);
}


/* Services */

.services-container section {
    text-align: center;
    padding: 30px 40px;
}

.services-container section:hover i {
    background: var(--primary-color);
    color: var(--text-secondary);
}

.services-container section:hover h3 {
    color: var(--primary-color);
}

.services-container i {
    color: var(--primary-color);
    font-size: 2em;
    padding: 20px;
    border-radius: 50%;
    border: 1px solid var(--primary-color);
    margin-bottom: 30px;
}

.services-container section:first-child {
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    border-right: 1px solid rgb(32, 88, 90);
}

.services-container section:last-child {
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    border-left: 1px solid rgb(32, 88, 90);
}

/* Work */
#work h2, #services h2 {
    margin-bottom: 28px;
}

#work img {
    width: 100%;
    overflow: hidden;
    opacity: .4;
}

#work img:hover {
    opacity: 1;
}

.work-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 20px;
}
.work-container section p {
    padding-bottom: 20px;
}

.work-container section > *:not(:first-child) {
    padding-left: 20px;
    padding-right: 20px;
}

.work-container section,
.services-container section {
    background: #112240;
    flex: 1 1 400px;
    overflow: hidden;
}

.work-container section {
    border-radius: 10px;
}

/* Contact */

#contact {
    text-align: center;
}

#contact h2 {
    color: var(--primary-color);
    font-family: var(--mono-font);
    font-weight: 300;
    font-size: 1em;
    margin-bottom: 20px;
}

#contact p {
    max-width: 300px;
    margin: auto;
    margin-bottom: 20px;
}

/* Footer */
footer {
    text-align: center;
    padding-top: 20px;
    padding-bottom: 20px;
    color: var(--primary-color);
    font-family: var(--mono-font);
    font-size: 0.8em;
}

/* Media Queries */
@media screen and (max-width: 900px) {
    /* Global */
    .container, #about {
        padding-right: 50px;
        padding-left: 50px
    }

    aside {
        display: none;
    }

    header {
        padding-right: 20px;
        padding-left: 20px;
        transition: .8s ease;
    }

    .hamburger-menu {
        display: block;
        text-align: right;
    }
    
    nav li {
        margin-bottom: 20px;
    }

    header nav a {
        margin-left: 0;
        font-size: 1em;
        margin-bottom: 20px;
    }

    header.flex ul {
        flex-direction: column;
        position: fixed;
        top: 0;
        right: 0;
        height: 100vh;
        width: min(75vh, 400px);
        justify-content: center;
        align-items: center;
        background: #112240;
        display: none;
        opacity: 0;
    }

    header ul.active {
        display: flex;
        opacity: 1;
    }

    ul.active + .exit-btn {
        display: block;
    }

    /* Main */

    main h1, main h2 {
        font-size: 2em;
    }

    main p, section p {
        width: 100%;
    }

    main button {
        width: 100%;
    }

    main button:first-of-type {
        margin-bottom: 20px;
    }
    
}

@media screen and (max-width: 1200px) {
    .about-container {
        flex-direction: column;
        gap: 50px;
    }

    #about img {
        max-width: 80%;
        margin: auto;
    }

    /* Services */
    .services-container {
        flex-direction: column;
    }

    .services-container.flex section {
        border-right: none;
        border-left: none;
        border-bottom: 1px solid var(--primary-color);
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding: 20px;
    }

    .services-container section:first-child {
        border-top-right-radius: 10px;
        border-bottom-left-radius: 0;
    }

    .services-container.flex section:last-child {
        border-bottom: none;
        border-bottom-left-radius: 10px;
    }

    /* Work */
    .work-container {
        flex-direction: column;
        gap: 50px;
        flex: 1;
    }

    #work section {
        padding-bottom: 40px;
    }

    #work section img {
        width: 100%;
        object-fit: cover;
        height: 50%;
        object-position: 0% 0%;
    }
}